<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GSR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B6C8AB7C1D8B0CD200111AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C8AB931D8B0CD200111AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B6C8AB9E1D8B0CD200111AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
